body{
background-color: blanchedalmond;

}
 /* h1{
background-color: blanchedalmond; */


 /* } */
.gif-views{
height:100%;
width: 100%;
background-color: blueviolet;
}
#gif-input{
height: 35px;
width: 128px;
background-color:aliceblue;
margin-bottom: 20px;
margin-top: 10px;
/* text-decoration-color: aliceblue; */
}

/* #gif-cats{ */


}
#gif-form{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 45px;
text-emphasis: top;
background-color: hotpink;
}

