body{
background-color: aquamarine;

}
 h1{
background-color: blanchedalmond;


 }
.container{
height: 800px;
width: 800px;
background-color: aliceblue;
}
#giftop{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
font-size: 50px;
height: 120px;
width: 359px;
background-color: blueviolet;
text-decoration-color: aliceblue;
}

#gif-cats{


}
#gif-form{

/* label{


} */

}

